


.board-list__title {
  color: var(--color-accent);
  margin-bottom: 2rem;
}

.board-list__items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.board-list__item {
  list-style: none;
}