

.board__name {
  padding: 0.5rem 0.8rem;
  background-color: var(--color-white);
  border-radius: 0.8rem;
  font-size: 1.2rem;
  font-weight: bold;

  border: 1px solid var(--color-secondary);
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--color-black);

    box-shadow: 8px 8px 1px var(--color-shadow);

}

.board__name:focus,
.board__name:focus-visible {
  background-color: var(--color-accent);
}
