.site-header {
  position: sticky;
  top:0;
  z-index: 100;
  display: flex;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--color-black);
  box-shadow: 0 4px 8px var(--color-shadow);
  backdrop-filter: blur(12px);


}

.site-header__content {
    margin: 0.8rem;
  
}


.site-header__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}