.new-card-form__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.new-card-form__input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.new-card-form__preview {
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: left;
  font-weight: bold;
}


