.submit-btn {
  width: 100%;
  padding: 0.75rem;
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.submit-btn:disabled {
  background-color: var(--color-grey);
}