/* index.css */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  color: var(--color-black)
}  


.layout {
  padding-top: 80px;
  display: flex;
  gap: 1rem;
  padding: 2rem;

}

.sidebar {
  flex: 2;
  border-radius: 2rem;
  background-color: var(--color-primary);
}

.main {
  flex: 6;
}

.panel {
  flex: 4;
  background-color: lightyellow;
}


