/* index.css */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  color: var(--color-black)
}


.layout {
  padding-top: 80px;
  display: flex;
  gap: 1rem;
  padding: 2rem;

}

.sidebar {
  max-height: 700px;
  flex: 0 0 350px;
  border-radius: 2rem;
  padding: 2rem;
  background-color: var(--color-primary);

}

.main {
  flex: 1;
}

.forms-panel {
  width: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* cubic-bezier(x1, y1, x2, y2) (x1, y1) = how it starts 
  and (x2, y2) = how it ends*/
  transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.forms-panel--expanded {
  width: 400px;
  gap: 2rem;
}

.forms-panel--selector {
  width: 130px;
  gap: 1rem;
}


.form-btn {
  color: var(--color-white);
  font-weight: bold;
  padding: 0.5rem;
  background-color: var(--color-primary);
  outline: none;
  border: 1px solid var(--color-grey);
  border-radius: 0.5rem;
  box-shadow: 8px 8px 1px var(--color-shadow);
  cursor: pointer;
}

.form-btn:focus,
.form-btn:focus-visible,
.form-btn:hover {
  color: var(--color-black);
  background-color: var(--color-accent);
  box-shadow: 8px 8px 1px var(--color-accent);
}