/* index.css */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
}  


.container {
  height: 90vh;
  display: flex;
  gap: 1rem;
  padding: 2rem;

}

.col-1 {
  flex: 2;
  border-radius: 2rem;
  background-color: var(--color-primary);
}

.col-2 {
  flex: 6;
  background-color: lightpink;
}

.col-3 {
  flex: 4;
  background-color: lightyellow;
}


