:root {
  --color-primary: #9A86DE;
  --color-secondary: #e1deec;
  --color-accent: #FBE766;
  --color-white: #f5f7fa;
  --color-black: #514949;
  --color-grey: #9e9c9c;
  --color-shadow: rgb(81, 73, 73, 0.2);


}




